@import './add';
@import './gig';
@import './gigs';
@import './home';
@import './login';
@import './message';
@import './messages';
@import './myGigs';
@import './orders';
@import './register';
@import './components/navbar';
@import './components/footer';
@import './components/featured';
@import './components/_trustedBy';
@import './components/slider';
@import './components/categoryCard';
@import './components/videoComp';
@import './components/projectCard';
@import './components/gigCard';

body{
    overflow-x: hidden;
}

// common stles
.link{
    // to prevent from getting blue color of the link
     text-decoration:none;
     color:inherit; 
}
// scroll bar styling 

::-webkit-scrollbar {
    width: 9px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #6d6d6d; 
}